* {
  scroll-behavior: smooth;
}
.go-to-top-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.top-button {
  border: none;
  color: aliceblue;
  background-color: #0b69ff;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.top-button-image {
  width: 40px;
  padding-right: 19px;
}
