.currency-details-container {
  display: flex;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  align-items: center;
}
.value-container {
  display: flex;
  justify-content: space-around;
  width: 100px;
}
.currency-logo {
  width: 40px;
}
