.cartlist-item-main-container {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 16px 0px;
  margin: 10px;
  margin-left: 30px;
  margin-right: 45px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3px;
  height: 150px;
  margin-bottom: 20px;
}
.cartlist-view-image {
  width: 100px;
  height: 100px;
  border-radius: 200px;
}
.cartlist-view-image-container {
  background-size: cover;
  padding-top: 10px;
}
.title-and-brand-text-container {
  padding-left: 30px;
  width: 400px;
}
.cartlistitem-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  margin-left: 20px;
  margin-right: 30px;
}
.cartlistitem-price-container {
  margin-left: 30px;
  margin-right: 40px;
}
.delete-item-button-container {
  margin-left: 100px;
  margin-right: 250px;
}
